@use "variables";

//mixin texto

@mixin text-default {
font-family: variables.$font;
letter-spacing: 1px;
line-height: 2;
}

//mixin para grid responsive

@mixin grid-responsive($min: 250px) {
display: grid;
grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
gap: 20px;
padding: 20px;
}