// colores
$color-fondo: #F3F4F6;
$color-secundario:  #9ACBD0;
$color-font: #000000;

//font
$font: "Space Grotesk", sans-serif;
$font-size-titulo: xx-large;
$font-size-subtitulo: larger;
$font-size-parrafo: 1rem;
$font-size-mobile-titulo: 1.5rem;
$font-size-mobile-subtitulo: 1.2rem;

